<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotifiubyfy01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Spotifiubify"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotifiubyfy01"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Following"
            android:exported="false"
            android:parentActivityName=".ProfilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfilePage" />
        </activity>
        <activity
            android:name=".SubscriptionPage"
            android:exported="false" />
        <activity
            android:name=".TippingPage"
            android:exported="false"
            android:parentActivityName=".artistProfile.ArtistPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".artistProfile.ArtistPage" />
        </activity>
        <activity
            android:name=".Wallet"
            android:exported="false"
            android:parentActivityName=".ProfilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfilePage" />
        </activity>
        <activity
            android:name=".PreferencesSelection"
            android:exported="true"
            android:parentActivityName=".ProfileEditPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileEditPage" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".LocationSelection"
            android:exported="true"
            android:label="@string/title_activity_location_selection"
            android:parentActivityName=".ProfileEditPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileEditPage" />
        </activity>
        <activity
            android:name=".ListOfPlaylistsPage"
            android:exported="false"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity
            android:name=".PlaylistPage"
            android:exported="false"
            android:parentActivityName=".search.SearchPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".search.SearchPage" />
        </activity>
        <activity
            android:name=".PlaylistCreationPage"
            android:exported="false" />
        <activity
            android:name=".search.SearchArtistPage"
            android:exported="false"
            android:parentActivityName=".Messages.MessagesPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Messages.MessagesPage" />
        </activity>
        <activity
            android:name=".ReproductionPage"
            android:exported="false"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity
            android:name=".MainLandingPage"
            android:exported="true" />
        <activity
            android:name=".ProfilePage"
            android:exported="false"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity
            android:name=".AlbumPage"
            android:exported="false"
            android:parentActivityName=".artistProfile.ArtistPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".artistProfile.ArtistPage" />
        </activity>
        <activity
            android:name=".SongCreationPage"
            android:exported="false"
            android:parentActivityName=".ProfilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfilePage" />
        </activity>
        <activity
            android:name=".AlbumCreationPage"
            android:exported="false"
            android:parentActivityName=".ProfilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfilePage" />
        </activity>
        <activity
            android:name=".ProfileEditPage"
            android:exported="false"
            android:parentActivityName=".ProfilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfilePage" />
        </activity>
        <activity
            android:name=".LoadingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchPage"
            android:exported="false"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainLandingPage" />
        </activity>
        <activity
            android:name=".artistProfile.ArtistPage"
            android:exported="false"
            android:parentActivityName=".search.SearchPage">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".search.SearchPage" />
        </activity>
        <activity
            android:name=".LogInPage"
            android:exported="false"
            android:parentActivityName=".MainLandingPage">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainLandingPage" />
        </activity>
        <activity
            android:name=".SignInLandingPage"
            android:exported="false"
            android:parentActivityName=".MainLandingPage">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainLandingPage" />
        </activity>
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".Messages.MessagesPage"
            android:exported="false"
            android:parentActivityName=".MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPage" />
        </activity>
        <activity
            android:name=".Messages.ChatPage"
            android:exported="false"
            android:parentActivityName=".Messages.MessagesPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Messages.MessagesPage" />
        </activity>
        <activity
            android:name=".Messages.albumMessages.AlbumMessagesPage"
            android:exported="false"
            android:parentActivityName=".AlbumPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AlbumPage" />
        </activity>
        <activity android:name=".PopUpWindow" />
    </application>

</manifest>